# dropna & fillna

In [10]:
import pandas as pd

var = pd.read_csv("//Users//princemaurya//Desktop//Jupyter//company_data_v2.csv")

var

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,NaN
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,NaN,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,NaN
7,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,NaN
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,NaN,NaN,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,INTENTECH,Intense Technologies Limited,1252606.0,164644.0,7.607959
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

agar hm sare missing data ko drop krna chahte hai then

In [11]:
var.dropna()

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,INTENTECH,Intense Technologies Limited,1252606.0,164644.0,7.607959
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

In [12]:
var.dropna(axis=1)

          Code                                   Company
0      HINDCON                 Hindcon Chemicals Limited
1   GKWLIMITED                               GKW Limited
2   21STCENMGM  21st Century Management Services Limited
3     ALPHAGEO                  Alphageo (India) Limited
4     UNIENTER               Uniphos Enterprises Limited
5   JAGSNPHARM         Jagsonpal Pharmaceuticals Limited
6   SKMEGGPROD   SKM Egg Products Export (India) Limited
7    SWELECTES            Swelect Energy Systems Limited
8    NAHARPOLY                  Nahar Poly Films Limited
9   PODDARHOUS    Poddar Housing and Development Limited
10        LINC                              Linc Limited
11  SHIVAMILLS                       Shiva Mills Limited
12  PDMJEPAPER           Pudumjee Paper Products Limited
13        DSSL      Dynacons Systems & Solutions Limited
14    ANDREWYU             Andrew Yule & Company Limited
15    LAXMICOT                     Laxmi Cotspin Limited
16        REPL          Rudrabhishek Enterprises Limited
17      PILITA             PIL ITALICA LIFESTYLE LIMITED
18  BHAGYAPROP            Bhagyanagar Properties Limited
19    MUNJALAU            Munjal Auto Industries Limited
20      ALKALI                     Alkali Metals Limited
21   INTENTECH              Intense Technologies Limited
22    INDORAMA      Indo Rama Synthetics (India) Limited

In [13]:
import pandas as pd

var = pd.read_csv("//Users//princemaurya//Desktop//Jupyter//company_data_row22_cleared.csv")

var

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,NaN
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,NaN,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,NaN
7,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,NaN
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,NaN,NaN,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,NaN,NaN,NaN,NaN,NaN
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

In [14]:
var.dropna(how="any")

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

In [15]:
var.dropna(how="all")

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,NaN
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,NaN,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,NaN
7,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,NaN
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,NaN,NaN,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

In [18]:
var.dropna(subset=["Value E"])

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,NaN,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
7,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,NaN,NaN,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

In [19]:
var.dropna(inplace = True)

var

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

In [20]:
var.dropna(thresh=2)

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

# fillna

In [21]:
import pandas as pd

var = pd.read_csv("//Users//princemaurya//Desktop//Jupyter//company_data_row22_cleared.csv")

var

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,NaN
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,NaN,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,NaN
7,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,NaN
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,NaN,NaN,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,NaN,NaN,NaN,NaN,NaN
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

In [22]:
var.fillna("python")

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.95345
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,python
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,python,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.80142
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,python
7,SWELECTES,Swelect Energy Systems Limited,python,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,python
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,python,python,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,python
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,python,python,python,python,python
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

agar hm kisi particular column ke andar kisi data ko fill karna chahte hai then use dictionary

In [23]:
var.fillna({"Code":"python","Company":"c","Value C":""	})

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,NaN
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,NaN,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,NaN
7,SWELECTES,Swelect Energy Systems Limited,java,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,NaN
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,java,NaN,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,python,c,java,NaN,NaN
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

agar hm null value ko farword ya backword data se fill krna chahte hai then use

In [25]:
var.fillna(method="ffill")

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_84025/3062787689.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="ffill")

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,30.049203
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,8356.0,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,17.801420
7,SWELECTES,Swelect Energy Systems Limited,1541130.0,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,14.853673
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,2448026.0,230048.0,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,10.011751
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

for the backword filling

In [30]:
var.fillna(method="bfill")

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_84025/3318054441.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="bfill")

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.95345
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,27.852613
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,21.528002,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.80142
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,16.938733
7,SWELECTES,Swelect Energy Systems Limited,87776.0,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,12.823425
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,10.443312,10.443312,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,8.569318
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

agar hm kisi data ko uske axis ke along fill krna chahte hai then use

In [34]:
import pandas as pd

# enable future behavior explicitly
pd.set_option('future.no_silent_downcasting', True)

# assuming var is already defined as a DataFrame:
var = var.bfill(axis=1)  # backward fill along columns

In [35]:
var.fillna(method="ffill",axis=1)

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_84025/2684882124.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="ffill",axis=1)

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.95345
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,27.852613
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,21.528002,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.80142
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,16.938733
7,SWELECTES,Swelect Energy Systems Limited,87776.0,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,12.823425
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,10.443312,10.443312,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,8.569318
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

on the above code aage wale data picche wale me fill ho chuka hai.

using of inplace function (inplace) of none we can write the data inside it.

In [38]:
import pandas as pd

var = pd.read_csv("//Users//princemaurya//Desktop//Jupyter//company_data_row22_cleared.csv")

var

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,NaN
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,NaN,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,NaN
7,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,NaN
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,NaN,NaN,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,NaN,NaN,NaN,NaN,NaN
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

In [39]:
var.fillna(12,inplace=True)

var

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,12.000000
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,12.0,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,12.000000
7,SWELECTES,Swelect Energy Systems Limited,12.0,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,12.000000
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,12.0,12.0,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,12.000000
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,12,12,12.0,12.0,12.000000
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

limit function

In [41]:
import pandas as pd

var = pd.read_csv("//Users//princemaurya//Desktop//Jupyter//company_data_row22_cleared.csv")

var

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,NaN
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,NaN,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.801420
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,NaN
7,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,NaN
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,NaN,NaN,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,NaN,NaN,NaN,NaN,NaN
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

In [42]:
var.fillna("python",limit=1)

,Code,Company,Value C,Value D,Value E
0,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.95345
1,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
2,21STCENMGM,21st Century Management Services Limited,110375.0,3879.0,python
3,ALPHAGEO,Alphageo (India) Limited,232755.0,8356.0,27.852613
4,UNIENTER,Uniphos Enterprises Limited,162601.0,python,21.528002
5,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892.0,73134.0,17.80142
6,SKMEGGPROD,SKM Egg Products Export (India) Limited,1541130.0,87775.0,NaN
7,SWELECTES,Swelect Energy Systems Limited,python,87776.0,16.938733
8,NAHARPOLY,Nahar Poly Films Limited,600043.0,38574.0,15.555297
9,PODDARHOUS,Poddar Housing and Development Limited,46040.0,3012.0,15.283833
10,LINC,Linc Limited,60551.0,4076.0,14.853673
11,SHIVAMILLS,Shiva Mills Limited,142943.0,10391.0,NaN
12,PDMJEPAPER,Pudumjee Paper Products Limited,1316284.0,102646.0,12.823425
13,DSSL,Dynacons Systems & Solutions Limited,263641.0,23439.0,11.247963
14,ANDREWYU,Andrew Yule & Company Limited,2448026.0,230048.0,10.641332
15,LAXMICOT,Laxmi Cotspin Limited,NaN,NaN,10.443312
16,REPL,Rudrabhishek Enterprises Limited,660281.0,6576.0,10.049914
17,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.011751
18,BHAGYAPROP,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
19,MUNJALAU,Munjal Auto Industries Limited,705322.0,82307.0,8.569318
20,ALKALI,Alkali Metals Limited,157496.0,19059.0,8.263313
21,python,python,NaN,NaN,NaN
22,INDORAMA,Indo Rama Synthetics (India) Limited,679204.0,89288.0,7.606862

on the above code we place python at least on one NaN in each row using limit